[run]
branch = True
source = store
omit =
    store/migrations/*
    store/tests.py
    store/management/commands/snapshot_experiment.py

[report]
show_missing = True
skip_covered = False
precision = 1

[html]
directory = ../docs/project/results/coverage-html
