DB_NAME=ecommerce_db
DB_USER=postgres
DB_PASSWORD=your_password
DB_HOST=localhost
DB_PORT=5432
TEST_DB_NAME=ecommerce_course_project_test
FUZZ_DB_NAME=ecommerce_course_project_fuzz
EXPERIMENT_USERNAME=experiment_user
EXPERIMENT_PASSWORD=CourseProject-Only-Password-Change-Me
